<html>
    <head>
        <title>Le Blog de Wafa</title>
    </head>
   <body>
        <div>
            <h1><a href="">Django wafa Blog</a></h1>
        </div>

        <div>
            <p>published: 01.04.2017, 5:55</p>
            <h2><a href="">My first post</a></h2>
            <p>I am just learning Python</p>
        </div>

        <div>
             <p>published: 01.04.2017, 5:56</p>
            <h2><a href="">Mon second post</a></h2>
            <p>Python seems to be a nice programming language</p>
        </div>
    </body>
</html>